* {
   font-family: Audiowide;
   font-size: 56px;
   color: #bfbfbf;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   width: 90%;
   min-width: 320px;
   max-width: 690px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

h1, h2 {
   text-align: center;
   width: 100%;
   margin: 50px 0;
}

.pad-grid {
   width: 500px;
   height: 500px;
   display: grid;
   background: #212121;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: 25% 25% 25% 25%;
   box-shadow: 0px 0px 7px 8px #0000004d;
   border-radius: 15px;
   margin-bottom: 50px;
}

.pad-tiles {
   margin: 15px;
   border: 3px solid #dc1414;
   border-radius: 5px;
   background-color: #2c2c2c;
   outline: transparent;
   transition: 0.1s;
}

p {
   font-size: 9px;
   position: relative;
   top: 57px;
   left: -2.5px;
   text-align: left;
   background-color: transparent;
}

.pad-tiles:active {
   background-color: #d67814a5;
   border-width: 4px;
}

.box {
   height: 100vh;
}

.box-footer {
   height: 100vh;
   background-color: #212121;
   margin: 0;
   padding: 0 40px;
}

.box-pad {height: 100vh;
   background-color: #313131;}

ul {
   list-style: none;
   line-height: 0.8;
}

li a {
   font-size: 18px;
}

li::before {
   content: '•';
   color: #bfbfbf;
   position: relative;
   top: 14px;
   left: -10px;
}

@media screen and (max-width: 690px) {
   .pad-grid {
      height: 740px;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 16% 16% 16% 16% 16% 16%;
   }
   .box-pad {
      height: 1000px;
   }
   .box-credits {
      height: 100vh;
   }
   body {
      height: 1000px;
   }
}

.scrollDown {
   animation: scrollDown 0.2s;
   transform: translateY(0);
}

.scrollUp {
   animation: scrollUp 0.2s;
}

@keyframes scrollDownT {
   from {
      transform: translateY(0);
   }
   to {
      transform: translateY(-1000px);
   }
}

@keyframes scrollUp {
   from {}
   to {}
}
